# Ignore Gradle project-specific cache directory
.gradle

# Ignore build files
dropwizard
opentelemetry-javaagent.jar
cache-client-extension/lib/build

# Ignore IntelliJ Idea files
.idea

# Ignore DS_Store
.DS_Store
